@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
}


body{
    /* background-color: beige; */
    display: flex;
    flex-direction: row;
}

.tab-clicker,.tab-objects,.tab-shop{
    border: 3px solid black;
    width: 33%;
    height: 100vh;
    margin: 2px;
    background-color: beige;
}

.tab-clicker{
    background-image: url(../img/pared2.jpg);
    
}

.tab-objects{
    background-image: url(../img/terreno.jpg);
}


.title-user,.title-counter{
    border: 2px solid black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 100px;
    padding: 8px;
    /* width: 300px;
    margin-left: 50px; */
    border-radius: 10px;
    /* background-color: grey; */
    background-color: hsla(0, 0%, 50%, 0.5);
    text-align: center;
}

.title-user h3,.username,.title-counter h3,.counter{
    font-size: 40px;
}


.img-clicker{
    margin-top: 85px;
    /* border: 2px solid red; */
    height: 400px;
    display: flex;
    justify-content: center;
}

.img{
    height: 350px;
    /* border: 2px solid black; */
    cursor: pointer;
    transition: transform 0.3s ease;
}

.img.activate{
    transform: scale(1.1);
}


/* TABS - OBJECTS */

.tab-objects h3{
    border: 2px solid rebeccapurple;
    text-align: center;
    margin-top: 10px;
    border-radius: 10px;
}

.house{
    border: 2px solid red;
    height: 100px;
    display: flex;
    flex-direction: row;
}


.house img{
    height: 100px;
}